<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Pizzalista</title>
        <meta charset="utf-8" />
    </head>

    <body>

        <h1>Pizzat:</h1>
        
        <ul>
            <li th:each="pizza: ${pizzat}">
                <span th:text="${pizza.id}">1</span>
                <span th:text="${pizza.nimi}">Esimerkki</span>
            </li>
        </ul>
        
        <form method="POST" action="/pizzat">
            <span>Uusi pizza:</span><br/>
            <span>
                <input type="text" name="nimi"/><br/>
                <input type="submit" value="Lisää uusi pizza"/>
            </span>
        </form>


    </body>
</html>