<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Pizzalista</title>
        <meta charset="utf-8" />
    </head>

    <body>

        <h1>Pizzat:</h1>
        
        <dl>
            <dd th:each="pizza: ${pizzat}">
                <span th:text="${pizza.id}">1</span>
                <a th:href="${'/pizza/' + pizza.id}"><span th:text="${pizza.nimi}">Esimerkki</span></a>
                <a th:href="${'/poista/' + pizza.id}"><span th:text="((poista))"> (poista) </span></a>
            </dd>
        </dl>
                
            

        
        <form method="POST" action="/pizzat">
            <span>Uusi pizza:</span><br/>
            <span>
                <input type="text" name="nimi"/><br/>
                <input type="submit" value="Lisää uusi pizza"/>
            </span>
        </form>

        <p><a href="/">Etusivu</a></p>
        
    </body>
</html>