<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Raaka-aineet</title>
        <meta charset="utf-8" />
    </head>

    <body>

        <h1>Täytteet:</h1>
        
        <ul>
            <li th:each="tayte: ${taytteet}">
                <span th:text="${tayte.id}">1</span>
                <span th:text="${tayte.nimi}">Esimerkki</span>
                
            </li>
        </ul>
        <form method="POST" action="/tayteet">
            <span>Uusi tayte:</span><br/>
            <input type="text" name="nimi"/><br/>
            <input type="submit" value="Lisää uusi tayte"/>
        </form>

        <form method="POST" action="/taytteet">
            <span>Uusi täyte:</span><br/>
            <span>
                <input type="text" name="nimi"/><br/>
                <input type="submit" value="Lisää uusi täyte"/>
            </span>
        </form>
        
        <p><a href="/">Etusivu</a></p>
    </body>
</html>