<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Raaka-aineet</title>
        <meta charset="utf-8" />
    </head>

    <body>
        <h1>Raaka-aineet:</h1>

        <ol>
            <li th:each="tayte: ${taytteet}">
                <span th:text="${RaakaAine.nimi}">pizzan nimi</span> <a th:href="${'/taytteet/' + RaakaAine.id}">linkki</a>
            </li>
        </ol>
    </body>
</html>